---
title: Test results
---

When you have a test, you will be told how long to wait for your results. Please wait until that time has passed before contacting the surgery.

You can view your results in the NHS App. If you cannot use the app, send an online admin request or visit reception for help. If you need help using the service, call [0161&nbsp;998&nbsp;5538](tel:01619985538).

{{OFFICIAL_RESULTS_ACTION_LINK}}

{{OFFICIAL_RESULTS_ADMIN_ACTION_LINK}}

Reception staff cannot interpret results. Please check your results and arrange any necessary follow-up appointment with your doctor.

Results are only given to the person they relate to, unless permission has been given or the person cannot understand their results.

## About your test

- [Blood tests on the NHS website](https://www.nhs.uk/tests-and-treatments/blood-tests/)
- [X-rays on the NHS website](https://www.nhs.uk/tests-and-treatments/x-ray/)
